<div id='gString'class=''style='padding:0;'>

	<!-- DESKTOP -->
	<div id='desk'class='hidden-sm hidden-xs col-md-12'style=';width:100%;padding:0;color:white;'>
		<div color-Note scale='{{scale}}'colors='{{colors}}'note='{{note0}}'id='root'class=' col-md-1'style=';width:1%;'>
		{{notes[note0]}}
		
		</div>
		<div color-Note scale='{{scale}}'colors='{{colors}}'note='{{note1}}'id=''class='fret col-md-1'style=';width:2%;position:relative;left:3%;'>
		{{notes[note1]}}
		
		</div>
		<div color-Note scale='{{scale}}'colors='{{colors}}'note='{{note2}}'id=''class='fret col-md-1'style=';width:2%;position:relative;left:8%;'>
		{{notes[note2]}}
		
		</div>
		<div color-Note scale='{{scale}}'colors='{{colors}}'note='{{note3}}'id=''class='fret col-md-1'style=';width:2%;position:relative;left:13.5%;'>
		{{notes[note3]}}
		
		</div>
		<div color-Note scale='{{scale}}'colors='{{colors}}'note='{{note4}}'id=''class='fret col-md-1'style=';width:2%;position:relative;left:17.5%;'>
		{{notes[note4]}}
		
		</div>
		<div color-Note scale='{{scale}}'colors='{{colors}}'note='{{note5}}'id=''class='fret col-md-1'style=';width:2%;position:relative;left:21%;'>
		{{notes[note5]}}
		
		</div>
		<div color-Note scale='{{scale}}'colors='{{colors}}'note='{{note6}}'id=''class='fret col-md-1'style=';width:2%;position:relative;left:24.3%;'>
		{{notes[note6]}}
		
		</div>
		<div color-Note scale='{{scale}}'colors='{{colors}}'note='{{note7}}'id=''class='fret col-md-1'style=';width:2%;position:relative;left:27%;'>
		{{notes[note7]}}
		
		</div>
		<div color-Note scale='{{scale}}'colors='{{colors}}'note='{{note8}}'id=''class='fret col-md-1'style=';width:2%;position:relative;left:29.7%;'>
		{{notes[note8]}}
		
		</div>
		<div color-Note scale='{{scale}}'colors='{{colors}}'note='{{note9}}'id=''class='fret col-md-1'style=';width:2%;position:relative;left:32%;'>
		{{notes[note9]}}
		
		</div>
		<div color-Note scale='{{scale}}'colors='{{colors}}'note='{{note10}}'id=''class='fret col-md-1'style=';width:2%;position:relative;left:34.2%;'>
		{{notes[note10]}}
		
		</div>
		<div color-Note scale='{{scale}}'colors='{{colors}}'note='{{note1111}}'id=''class='fret col-md-1'style=';width:2%;position:relative;left:36.2%;'>
		{{notes[note11]}}
		
		</div>
		<div color-Note scale='{{scale}}'colors='{{colors}}'note='{{note0}}'id=''class='fret col-md-1'style=';width:2%;position:relative;left:38%;'>
		{{notes[note0]}}
		
		</div>
		<div color-Note scale='{{scale}}'colors='{{colors}}'note='{{note1}}'id=''class='fret col-md-1'style=';width:2%;position:relative;left:39.5%;'>
		{{notes[note1]}}
		
		</div>
		<div color-Note scale='{{scale}}'colors='{{colors}}'note='{{note2}}'id=''class='fret col-md-1'style=';width:2%;position:relative;left:40.8%;'>
		{{notes[note2]}}
		
		</div>
		<div color-Note scale='{{scale}}'colors='{{colors}}'note='{{note3}}'id=''class='fret col-md-1'style=';width:2%;position:relative;left:42.3%;'>
		{{notes[note3]}}
		
		</div>
		<div color-Note scale='{{scale}}'colors='{{colors}}'note='{{note4}}'id=''class='fret col-md-1'style=';width:2%;position:relative;left:43.5%;'>
		{{notes[note4]}}
		
		</div>
		<div color-Note scale='{{scale}}'colors='{{colors}}'note='{{note5}}'id=''class='fret col-md-1'style=';width:2%;position:relative;left:44.6%;'>
		{{notes[note5]}}
		
		</div>
		<div color-Note scale='{{scale}}'colors='{{colors}}'note='{{note6}}'id=''class='fret col-md-1'style=';width:2%;position:relative;left:45.8%;'>
		{{notes[note6]}}
		
		</div>
		<div color-Note scale='{{scale}}'colors='{{colors}}'note='{{note7}}'id=''class='fret col-md-1'style=';width:2%;position:relative;left:46.95%;'>
		{{notes[note7]}}
		
		</div>
		<div color-Note scale='{{scale}}'colors='{{colors}}'note='{{note8}}'id=''class='fret col-md-1'style=';width:2%;position:relative;left:47.8%;'>
		{{notes[note8]}}
		
		</div>
		<div color-Note scale='{{scale}}'colors='{{colors}}'note='{{note9}}'id=''class='fret col-md-1'style=';width:2%;position:relative;left:48.33%;'>
		{{notes[note9]}}
		
		</div>
		<div color-Note scale='{{scale}}'colors='{{colors}}'note='{{note10}}'id=''class='fret col-md-1'style=';width:2%;position:relative;left:48.8%;'>
		{{notes[note10]}}
		
		</div>
		<div color-Note scale='{{scale}}'colors='{{colors}}'note='{{note11}}'id=''class='fret col-md-1'style=';width:0.5%;position:relative;left:49.3%;'>
		{{notes[note11]}}
		
		</div>
		<div color-Note scale='{{scale}}'colors='{{colors}}'note='{{note0}}'id=''class='fret col-md-1'style=';width:2%;position:relative;left:49.5%;'>
		{{note0}}
		
		</div>
		
	</div>

	<!-- MOBILE -->
	<div id='mobile'class='hidden-md hidden-lg'style=''>
	
	
	</div>


</div>