<div id='gString'class=''style='padding:0;'>

	<!-- DESKTOP -->
	<div id='desk'class='hidden-sm hidden-xs col-md-12'style='border:1px solid black;width:100%;padding:0;color:white;'>
		<div id='root'class=' col-md-1'style='border:1px solid black;width:1%;'>
		E
		
		</div>
		<div id=''class='fret col-md-1'style='border:1px solid black;width:2%;position:relative;left:3%;'>
		F
		
		</div>
		<div id=''class='fret col-md-1'style='border:1px solid black;width:2%;position:relative;left:8%;'>
		F#
		
		</div>
		<div id=''class='fret col-md-1'style='border:1px solid black;width:2%;position:relative;left:13.5%;'>
		G
		
		</div>
		<div id=''class='fret col-md-1'style='border:1px solid black;width:2%;position:relative;left:17.5%;'>
		G#
		
		</div>
		<div id=''class='fret col-md-1'style='border:1px solid black;width:2%;position:relative;left:21%;'>
		A
		
		</div>
		<div id=''class='fret col-md-1'style='border:1px solid black;width:2%;position:relative;left:24.3%;'>
		A#
		
		</div>
		<div id=''class='fret col-md-1'style='border:1px solid black;width:2%;position:relative;left:27%;'>
		B
		
		</div>
		<div id=''class='fret col-md-1'style='border:1px solid black;width:2%;position:relative;left:29.7%;'>
		C
		
		</div>
		<div id=''class='fret col-md-1'style='border:1px solid black;width:2%;position:relative;left:32%;'>
		C#
		
		</div>
		<div id=''class='fret col-md-1'style='border:1px solid black;width:2%;position:relative;left:34.2%;'>
		D
		
		</div>
		<div id=''class='fret col-md-1'style='border:1px solid black;width:2%;position:relative;left:36.2%;'>
		D#
		
		</div>
		<div id=''class='fret col-md-1'style='border:1px solid black;width:2%;position:relative;left:38%;'>
		E
		
		</div>
		<div id=''class='fret col-md-1'style='border:1px solid black;width:2%;position:relative;left:39.5%;'>
		F
		
		</div>
		<div id=''class='fret col-md-1'style='border:1px solid black;width:2%;position:relative;left:40.8%;'>
		F#
		
		</div>
		<div id=''class='fret col-md-1'style='border:1px solid black;width:2%;position:relative;left:42.3%;'>
		G
		
		</div>
		<div id=''class='fret col-md-1'style='border:1px solid black;width:2%;position:relative;left:43.5%;'>
		G#
		
		</div>
		<div id=''class='fret col-md-1'style='border:1px solid black;width:2%;position:relative;left:44.6%;'>
		A
		
		</div>
		<div id=''class='fret col-md-1'style='border:1px solid black;width:2%;position:relative;left:45.8%;'>
		A#
		
		</div>
		<div id=''class='fret col-md-1'style='border:1px solid black;width:2%;position:relative;left:46.95%;'>
		B
		
		</div>
		<div id=''class='fret col-md-1'style='border:1px solid black;width:2%;position:relative;left:47.8%;'>
		C
		
		</div>
		<div id=''class='fret col-md-1'style='border:1px solid black;width:2%;position:relative;left:48.33%;'>
		C#
		
		</div>
		<div id=''class='fret col-md-1'style='border:1px solid black;width:2%;position:relative;left:48.8%;'>
		D
		
		</div>
		<div id=''class='fret col-md-1'style='border:1px solid black;width:0.5%;position:relative;left:49.3%;'>
		D#
		
		</div>
		<div id=''class='fret col-md-1'style='border:1px solid black;width:2%;position:relative;left:49.5%;'>
		E
		
		</div>
		
	</div>

	<!-- MOBILE -->
	<div id='mobile'class='hidden-md hidden-lg'style=''>
	
	
	</div>


</div>