<div id='gString'class=''style='padding:0;'>

	<!-- DESKTOP -->
	<div id='desk'class='hidden-sm hidden-xs col-md-12'style=';width:100%;padding:0;color:white;'>
		<div id='fret0'color-Note scale='{{scale}}'note='{{note0}}'colors='{{colors}}'id='root'class=' col-md-1'style=';width:1%;'>
		{{notes[note0]}}
		
		</div>
		<div id='fret1'color-Note scale='{{scale}}'note='{{note1}}'colors='{{colors}}'id=''class='fret col-md-1'style=''>
		{{notes[note1]}}
		
		</div>
		<div id='fret2'color-Note scale='{{scale}}'note='{{note2}}'colors='{{colors}}'id=''class='fret col-md-1'style=''>
		{{notes[note2]}}
		
		</div>
		<div id='fret3'color-Note scale='{{scale}}'note='{{note3}}'colors='{{colors}}'id=''class='fret col-md-1'style=''>
		{{notes[note3]}}
		
		</div>
		<div id='fret4'color-Note scale='{{scale}}'note='{{note4}}'colors='{{colors}}'id=''class='fret col-md-1'style=''>
		{{notes[note4]}}
		
		</div>
		<div id='fret5'color-Note scale='{{scale}}'note='{{note5}}'colors='{{colors}}'id=''class='fret col-md-1'style=''>
		{{notes[note5]}}
		
		</div>
		<div id='fret6'color-Note scale='{{scale}}'note='{{note6}}'colors='{{colors}}'id=''class='fret col-md-1'style=''>
		{{notes[note6]}}
		
		</div>
		<div id='fret7'color-Note scale='{{scale}}'note='{{note7}}'colors='{{colors}}'id=''class='fret col-md-1'style=''>
		{{notes[note7]}}
		
		</div>
		<div id='fret8'color-Note scale='{{scale}}'note='{{note8}}'colors='{{colors}}'id=''class='fret col-md-1'style=''>
		{{notes[note8]}}
		
		</div>
		<div id='fret9'color-Note scale='{{scale}}'note='{{note9}}'colors='{{colors}}'id=''class='fret col-md-1'style=''>
		{{notes[note9]}}
		
		</div>
		<div id='fret10'color-Note scale='{{scale}}'note='{{note10}}'colors='{{colors}}'id=''class='fret col-md-1'style=''>
		{{notes[note10]}}
		
		</div>
		<div id='fret11'color-Note scale='{{scale}}'note='{{note11}}'colors='{{colors}}'id=''class='fret col-md-1'style=''>
		{{notes[note11]}}
		
		</div>
		<div id='fret12'color-Note scale='{{scale}}'note='{{note0}}'colors='{{colors}}'id=''class='fret col-md-1'style=''>
		{{notes[note0]}}
		
		</div>
		<div id='fret13'color-Note scale='{{scale}}'note='{{note1}}'colors='{{colors}}'id=''class='fret col-md-1'style=''>
		{{notes[note1]}}
		
		</div>
		<div id='fret14'color-Note scale='{{scale}}'note='{{note2}}'colors='{{colors}}'id=''class='fret col-md-1'style=''>
		{{notes[note2]}}
		
		</div>
		<div id='fret15'color-Note scale='{{scale}}'note='{{note3}}'colors='{{colors}}'id=''class='fret col-md-1'style=''>
		{{notes[note3]}}
		
		</div>
		<div id='fret16'color-Note scale='{{scale}}'note='{{note4}}'colors='{{colors}}'id=''class='fret col-md-1'style=''>
		{{notes[note4]}}
		
		</div>
		<div id='fret17'color-Note scale='{{scale}}'note='{{note5}}'colors='{{colors}}'id=''class='fret col-md-1'style=''>
		{{notes[note5]}}
		
		</div>
		<div id='fret18'color-Note scale='{{scale}}'note='{{note6}}'colors='{{colors}}'id=''class='fret col-md-1'style=''>
		{{notes[note6]}}
		
		</div>
		<div id='fret19'color-Note scale='{{scale}}'note='{{note7}}'colors='{{colors}}'id=''class='fret col-md-1'style=''>
		{{notes[note7]}}
		
		</div>
		<div id='fret20'color-Note scale='{{scale}}'note='{{note8}}'colors='{{colors}}'id=''class='fret col-md-1'style=''>
		{{notes[note8]}}
		
		</div>
		<div id='fret21'color-Note scale='{{scale}}'note='{{note9}}'colors='{{colors}}'id=''class='fret col-md-1'style=''>
		{{notes[note9]}}
		
		</div>
		<div id='fret22'color-Note scale='{{scale}}'note='{{note10}}'colors='{{colors}}'id=''class='fret col-md-1'style=''>
		{{notes[note10]}}
		
		</div>
		<div id='fret23'color-Note scale='{{scale}}'note='{{note11}}'colors='{{colors}}'id=''class='fret col-md-1'style=';width:0.5%;;'>
		{{notes[note11]}}
		
		</div>
		<div id='fret24'color-Note scale='{{scale}}'note='{{note0}}'colors='{{colors}}'id=''class='fret col-md-1'style=''>
		{{notes[note0]}}
		
		</div>
		
	</div>

	<!-- MOBILE -->
	<div id='mobile'class='hidden-md hidden-lg'style=''>
	
	
	</div>


</div>