<div id=''class='guitarFret'style='height:100%;padding:0;'>

	<!-- DESKTOP -->
	<div id='desk'class='hidden-sm hidden-xs'style=''>
		<div id=''class='col-md-12 gFretControlSwitch'style=''>
			<div ng-click='controlSwitch = false 'id='fretControlSwitch'class='col-md-2 'style='height:10vh;'ng-class='{highLight: controlSwitch == false}'>
			Controls
			
			</div>
			<div ng-click='controlSwitch = true'id='fretControlSwitch'class='col-md-2 'style='height:10vh;'ng-class='{highLight: controlSwitch == true}'>
			How it works
			
			</div>
			
		</div>

		<div ng-show='controlSwitch == true'id='gFretExplain'class='col-md-12'style=''>
			<div id='howTo'class='col-md-6'style=''>
				<div id='title'class='col-md-8'style=''>
				How to use
				
				</div>
				<div id='content'class='col-md-10 col-md-offset-1'style=''>
				Hit the controls tab, and pick between either the tuning or scales on the left side. 
				<br><br>

				On the right, the different options to customize your tunings or pick your scales, will  appear. 
				<br><br>

				The scale themselves are color coded by scale interval names, for you music theory folks. 
				<br><br>
				Change the notations by selecting the Flats or Sharps tab in the controls menu. 
				<br><br>
				Change for either Right-handed or Left-handed versions (I care about you lefties.)
				
				</div>
			
			</div>
		
			<div id='whystuff'class='col-md-6'style=''>
				<div id='title'class='col-md-8'style=''>
				Why use it
				
				</div>
				<div id='content'class='col-md-10 col-md-offset-1'style=''>
				I made this because I was tired of trying to remember where my scales fell in a different tuning.
				<br><br>
				Figured it could be useful for other people so I decided to expand on it a bit more. 
				<br><br>
				This is made for the guitarist who has problems visualizing the notes on the fretboard, from beginner to experts. 
				
				</div>
			
			</div>
		</div>


		<div ng-show='controlSwitch == false'id='gFretControl'class='col-md-12'style='padding:0;'>
			<div id='gFretStatus'class='col-md-6'style=''>
				<div ng-click='guitarSwitch = false'id='statusTuning'class='col-md-4'style='height:100%;'ng-class='{highLight:guitarSwitch == false}'>
				
					<div id=''class='col-md-12'style='padding:0;'>
						<div id='title'class='col-md-12'style='padding:0;'>
						Tuning
						
						</div>
						<div id=''class='col-md-12 stuffin'style='margin-bottom:2%;padding:0;'>
						Current Tuning : {{tuneName}}
						
						</div>
						<div ng-repeat='string in strings track by $index'id=''class='col-md-12 stuffin'style='padding:0;'>
						<span class='col-md-9'>{{stringName[$index]}} is tuned to: </span><span class='col-md-3'>{{musicNotes[string]}}</span>
						
						
						</div>
				
					</div>
				
				</div>
				<div ng-click='guitarSwitch = true'id='statusScale'class='col-md-4'style='height:100%;padding:0;'ng-class='{highLight:guitarSwitch == true}'ng-model='changeScale(pickedScale,musicRoot);'>
					<div id=''class=''style=''>
						<div id='title'class='col-md-12'style=''>
						Scale
						
						</div>
						<div id=''class='col-md-12 statusScaleStyle'style=''>
						Current Root: {{musicNotes[musicRoot]}}
						
						</div>
						<div id=''class='col-md-12 statusScaleStyle'style=''>
						Current Scale: {{scaleName}}
						
						</div>
						<div id=''class='col-md-12'style='padding:0;'>
							<div id=''class='col-md-12'style=''>
							Notes Used:
							
							</div>
							<div id=''class='col-md-12'style='padding:0;'>
								<div ng-repeat='note in currentScale track by $index'id=''class='col-md-6 scaleNoteNames'style='background:{{scaleColors[$index]}};color:Black;'>
									{{musicNotes[note]}} {{scaleInterNames[$index]}}
								
								
								</div>
							
							</div>
						
						</div>
					</div>
					
					

				</div>
				<div id='etcControls'class='col-md-4'style=''>
						<div id=''class='col-md-12'style=''>
							<div id=''class='col-md-6 etcStyle'style=''ng-click='musicNotes = musicFlats;noteSwitched = true;'ng-class='{highLight: noteSwitched == true}'>
								Flats 
							
							</div>
							<div id=''class='col-md-6 etcStyle'style=''ng-click='musicNotes = musicSharps;noteSwitched = false;'ng-class='{highLight: noteSwitched == false}'>
								Sharps
							
							</div>
						
						</div>
						<div id=''class='col-md-12'style='margin-top:5%;'>
							<div id=''class='col-md-6 etcStyle'style=''ng-click='lefty = true'ng-class='{highLight:lefty == true}'>
							Lefty
							
							</div>
							<div id=''class='col-md-6 etcStyle'style=''ng-click='lefty = false'ng-class='{highLight:lefty == false}'>
							Righty
							
							</div>
						
						</div>
						<div id=''class='col-md-12'style=''>
						
						
						</div>
					
					</div>

			</div>
			<div id='gFretGuitarControls'class='col-md-6'style=''>
			 	<div ng-show='guitarSwitch == false'id='tuner'class='col-md-12'style=''>
			 		<div id='tuneSwitch'class='col-md-12'style=''>
			 			<div ng-click='tuningSwitch = false'id=''class='col-md-6 tunerSwitchStyle'style=''ng-class='{highLight: tuningSwitch == false}'>
			 				Individual 
			 			
			 			</div>
			 			<div ng-click='tuningSwitch = true'id=''class='col-md-6 tunerSwitchStyle'style=''ng-class='{highLight: tuningSwitch == true}'>
			 				Group
			 			
			 			</div>
			 		
			 		</div>
			 		<div ng-show='tuningSwitch == false;'id='singleString'class='col-md-12'style=''>
			 			<div ng-repeat='strin in stringName track by $index'id=''class='stringClass col-md-8'style=''ng-init='order = $index'>
			 				<div id=''class='col-md-12 stringNamed'style=''>
			 					{{strin}}
			 				
			 				</div>
			 				<div ng-repeat='note in musicNotes'id=''class='col-md-1 stringNote'style=''ng-click='changeNote(order,note)'ng-class='{highLight: $index == strings[order]} '>
			 				{{note}}
			 				
			 				
			 				</div>
			 			
			 			
			 			</div>
			 		
			 		</div>
			 		<div ng-show='tuningSwitch == true' id='groupTune'class='col-md-12'style=''>
			 			<div ng-repeat='tune in tunings track by $index'id=''ng-init='ordered = $index'class='col-md-3 tuneStyle'style=';'ng-click='changeGroup(tune.forumla,tune.name);ordered = $index'ng-class='{highLight:tune.name == tuneName}'>
			 			
			 				{{tune.name}}
			 			
			 			</div>
			 		
			 		</div>
			 	
			 	</div>
			 	<div ng-show='guitarSwitch == true'id='scaled'class='col-md-12'style=''>
			 		<div id='scaleRoot'class='col-md-12'style=''>
			 			<div id=''class='col-md-12 root'style=''>
			 			Root:
			 			
			 			</div>
			 			<div ng-repeat='note in musicNotes track by $index'id=''class='col-md-1 scaleNotes'style=''ng-click='pickTone($index)'ng-class='{highLight: $index == musicRoot}'>
			 			{{note}}
			 			
			 			
			 			</div>
			 		
			 		</div>
			 		<div id='scalesChange'class='col-md-12'style=''>
			 			<div id='title'class='col-md-12'style='border-bottom:4px solid black;'>
			 			Scales:
			 			
			 			</div>
			 			<div ng-click='pickScale(scale)'ng-repeat='scale in allScale track by $index'id=''class='col-md-3 scaleStyle'style=''ng-class='{highLight:scale.name == scaleName}'>
			 			{{scale.name}}
			 			
			 			
			 			</div>
			 		
			 		</div>
			 	
			 	</div>
			
			</div>
		
		</div>
		<div id='guitarBoard'class='col-md-12'style='padding:0;height:30vh;'>
			<div ng-show='lefty == false;'id='rightHandboard'class=''style='background:url(/images/guitar/fretboard.png)no-repeat;background-size:100% 100%;height:100%;background-position:center;'>
				<g-String id=''class='Lowstring col-md-12'style=''switched='noteSwitched'colors='{{scaleColors}}'scale='{{currentScale}}'notes='musicNotes'root='strings[0]'></g-String>

				<g-String id=''class='Bstring col-md-12'style=''switched='noteSwitched'colors='{{scaleColors}}'scale='{{currentScale}}'notes='musicNotes'root='strings[1]'></g-String>

				<g-String id=''class='Gstring col-md-12'style=''switched='noteSwitched'colors='{{scaleColors}}'scale='{{currentScale}}'notes='musicNotes'root='strings[2]'></g-String>

				<g-String id=''class='Dstring col-md-12'style=''switched='noteSwitched'colors='{{scaleColors}}'scale='{{currentScale}}'notes='musicNotes'root='strings[3]'></g-String>

				<g-String id=''class='Astring col-md-12'style=''switched='noteSwitched'colors='{{scaleColors}}'scale='{{currentScale}}'notes='musicNotes'root='strings[4]'></g-String>

				<g-String id=''class='Topstring col-md-12'style=''switched='noteSwitched'colors='{{scaleColors}}'scale='{{currentScale}}'notes='musicNotes'root='strings[5]'></g-String>
			</div>
			
			<div ng-show='lefty == true;'id='leftHandboard'class=''style='background:url(/images/guitar/leftFretboard.png)no-repeat;background-size:100%100%;height:100%;background-position:center;'>
				<left-String id=''class='Lowstring col-md-12'style=''switched='noteSwitched'colors='{{scaleColors}}'scale='{{currentScale}}'notes='musicNotes'root='strings[0]'></left-String>

				<left-String id=''class='Bstring col-md-12'style=''switched='noteSwitched'colors='{{scaleColors}}'scale='{{currentScale}}'notes='musicNotes'root='strings[1]'></left-String>

				<left-String id=''class='Gstring col-md-12'style=''switched='noteSwitched'colors='{{scaleColors}}'scale='{{currentScale}}'notes='musicNotes'root='strings[2]'></left-String>

				<left-String id=''class='Dstring col-md-12'style=''switched='noteSwitched'colors='{{scaleColors}}'scale='{{currentScale}}'notes='musicNotes'root='strings[3]'></left-String>

				<left-String id=''class='Astring col-md-12'style=''switched='noteSwitched'colors='{{scaleColors}}'scale='{{currentScale}}'notes='musicNotes'root='strings[4]'></left-String>

				<left-String id=''class='Topstring col-md-12'style=''switched='noteSwitched'colors='{{scaleColors}}'scale='{{currentScale}}'notes='musicNotes'root='strings[5]'></left-String>
			
			</div>		
		</div>
	</div>

	<!-- MOBILE -->
	<div id='mobile'class='hidden-md hidden-lg'style=''>
		<div id=''class='col-xs-12'style='border-bottom:3px solid black;height:10vh;font-size:1.3em;'>
			<div id=''class='col-xs-6'style='height:100%;'ng-click='controlSwitch = false'ng-class='{highLight: controlSwitch == false}'>
				Controls
			
			</div>
			<div id=''class='col-xs-6'style='height:100%;'ng-click='controlSwitch = true'ng-class='{highLight: controlSwitch == true}'>
				How it works
			
			</div>
		
		</div>
		<div ng-show='controlSwitch == false'id=''class='col-xs-12'style='height:80vh;'>
			<div id=''class='col-xs-12'style=''>
				<div id=''class='col-xs-6'style=''>
				<span class='col-xs-12'>Tuning: </span>
				<span class='col-xs-12'>{{tuneName}}</span>
				
				</div>
				<div id=''class='col-xs-6'style=''>
				Scale: {{scaleName}}
				
				</div>
			
			</div>
			<div id=''class=''style=''>
			<div id=''class='col-xs-12'style=''>
				<div id=''class='col-xs-6'style=''>
				Tuning: 
				
				</div>
				<div id=''class='col-xs-6'style=''>
				
				{{tuneName}}
				</div>
				<div id=''class='col-xs-12'style=''>
					<div id=''class='col-xs-12'style=''>
					String #:
					
					</div>
					<div ng-repeat='string in strings track by $index'id=''class='col-xs-2'style='text-align:center;'>
					
					{{$index+1}}
					<br>
					{{musicNotes[string]}}
					
					
					</div>
				
				</div>
				<div id=''class='col-xs-12'style=''>
				
				
				</div>
			
			</div>
			<div id=''class='col-xs-12'style='margin-top:1%;padding:0;'>
				<div id=''class='col-xs-6'style='height:5vh;border-bottom:3px solid black;'ng-click='tuningSwitch = false'ng-class='{highLight:tuningSwitch == false}'>
				Individual and Etc.
				
				</div>
				<div id=''class='col-xs-6'style='height:5vh;border-bottom:3px solid black;'ng-click='tuningSwitch = true'ng-class='{highLight:tuningSwitch == true}'>
				Group
				
				</div>
				
				<div ng-show='tuningSwitch == true'id=''class='col-xs-12'style='margin-top:2%;padding:0;'>
					<div ng-repeat='tune in tunings track by $index'id=''class='col-xs-6'style='height:6vh;'ng-click='changeGroup(tune.forumla,tune.name);'ng-class='{highLight: tune.name == tuneName}'>
						{{tune.name}}
					
					
					</div>
				
				</div>
				<div ng-show='tuningSwitch == false'id=''class='col-xs-12'style='margin-top:2%;padding:0;'>
				<div ng-repeat='name in stringName track by $index'id=''class='col-xs-2'style='padding:0;text-align:center;'ng-click='changeIndex($index)'ng-class='{highLight:$index == indexVal}'>
					{{name}}
					
				
				</div>
				<div id=''class='col-xs-12'style='margin-top:4%;'>
					<div ng-repeat='note in musicNotes track by $index'id=''class='col-xs-2'style='border:1px solid black;height:10vh;'ng-click='changeNote(indexVal,note);'>
					
						{{note}}
					
					</div>
				
				</div>

				<div id=''class='col-xs-12'style='margin-top:10%;'>
					
					<div id=''class='col-xs-12'style='height:8vh;margin-top:4%;'>
						<div id=''class='col-xs-8'style='border-bottom:3px solid black;margin-bottom:2%;'>
						Music Notations
						
						</div>

						<div id=''class='col-xs-6'style='height:5vh;'ng-click='musicNotes = musicFlats  ;noteSwitched = true'ng-class='{highLight:noteSwitched == true}'>
						Flats
						
						</div>
						<div id=''class='col-xs-6'style='height:5vh;'ng-click='musicNotes = musicSharps ;noteSwitched = false;'ng-class='{highLight:noteSwitched == false}'>
						Sharps
						
						</div>
					
					</div>
					<div id=''class='col-xs-12'style='height:8vh;margin-top:4%;'>
						<div id=''class='col-xs-8'style='border-bottom:3px solid black;margin-bottom:2%;'>
						Lefty Mode
						
						</div>

						<div id=''class='col-xs-6'style='height:5vh;'ng-click='lefty = true ;'ng-class='{highLight:lefty == true}'>
						On
						
						</div>
						<div id=''class='col-xs-6'style='height:5vh;'ng-click='lefty = false ;'ng-class='{highLight:lefty == false}'>
						Off
						
						</div>
					
					</div>




				
				</div>
				
				
				
				</div>
					


			</div>
			
			</div>
			
		</div>
		<div ng-show='controlSwitch == true'id=''class='col-xs-12'style='height:50vh;border:1px solid black;'>
			Explaination
		
		</div>
		<div id=''class=''style=''>
		
		
		</div>
	
	</div>


</div>